body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: orange;
  color: white;
}
.navbar .logo {
  height: 40px;
  margin-right: 15px;
  padding: 5px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding-top: 50px;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
}
.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  margin-bottom: 10px;
  font-size: 18px;
}

select {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  margin-right: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  font-size: 18px;
  background-color: white;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #333;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
